<div class="content">
    <h2 style="text-align: center;">CARGUE DE EXAMENES A MANIPULADORES</h2>
    <div class="row">
        <div class="col-md-12">
            <label>Buscar Manipulador</label>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" [(ngModel)]="persona.identificacion">
                      <div class="col-md-2">
                            <button class="bt btn-primary" (click)="get()" >Buscar</button>
                      </div>
                    </div>                  
                </div>
            </div>
        </div>
        <div class="col-md-6" style="border: 1px solid slategrey">
            <h4 style="text-align: center;">Datos de manipulador</h4>

            <div class="form-group">
                <label>Identificacion</label>
                <input disabled name="identificacion" class ="form-control" [(ngModel)]="persona.identificacion">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input disabled name="nombre" class ="form-control" [(ngModel)]="persona.nombre">
            </div>
            <div class="form-group">
                <label>Edad</label>
                <input disabled name="edad" class ="form-control" [(ngModel)]="persona.edad">
            </div>
        </div>
        <div class="col-md-6" style="border: 1px solid slategrey">
            <h4 style="text-align: center;">Datos de examenes</h4>

            <div class="form-group">
                <label>Codigo</label>
                <input name="identificacion" class ="form-control" [(ngModel)]="persona.identificacion">
            </div>
            <div class="form-group">
                <label>Fecha de vencimiento</label>
                <input type="date" name="fechaDeVacuna" class="form-control" [(ngModel)]="vacunas.fechaDeVacuna">
            </div>
            <div class="form-group">
                <label>Sube un archivo</label>
                <input type="file" name="archivosubido" class="form-control-file">
            </div>
            
        </div>
        


    </div>
</div>